body{

}

.wrapper,
.single-card{
  height: 450px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.wrapper{
  perspective: 900px;

}

.single-card{
  text-align: center;
  transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
  transform-style: preserve-3d;
}


.wrapper:hover .single-card{
  transform: rotateY(180deg);
}


/*
:checked + .wrapper .single-card{
  transform: rotateY(180deg);
}
*/

.front,
.back{
  width: 300px;
  position:relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front{
  cursor: pointer;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  backface-visibility: hidden;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
}

.back{
  transform: rotateY(180deg);
  position: absolute;
  border-radius: 50px;
  height: 450px;
  background: #fff;
}

.content{
  padding-top: 25%;
}

.content h2{
  font-size: 35px;
  margin: 0;
  font-weight: 300;
}

.content h4{
  margin: 0;
}

.socials{
  margin-top:20%;
}

.socials i{
  font-size: 30px;
  margin: 0 10px;
}

/*
label{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 350px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  cursor: pointer;

}

.flip-card{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}


.flip-card .front,
.flip-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  backface-visibility: hidden;
  border-radius: 0 20px 0 20px;
}

.flip-card .back {
  transform: rotateX(180deg);
  color: #000;
  background: #fff;
}

label:hover .fli-card {
  transform: roatateX(2deg);
  box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}

input {
  display: none;
}

:checked + .flip-card {
  transform: rotateX(180deg);
  box-shadow: 0 20px rgba(255, 255, 255, 0.2);
}
*/

